<div class="container">
  <div class="results">
  <h3>Request Details & Pricing</h3>
<h4><%= @provider.name %></h4>

<%= form_tag create_search_path, {class: 'form-normal'} do %>
  <label for="name">Your Name:</label>
  <%= text_field_tag :name, nil, placeholder: "Type here", class: 'form-control', :required => true %>
  <div id="name_message"></div><br>

  <label for="email">Email:</label><br>
  <label for="email">We will only share this with the provider if you accept the quote</label>
  <%= text_field_tag :email, nil, placeholder: "Type here", class: 'form-control', :required => true %>
  <div id="postcode_message"></div><br>

  <label for="phone">Phone Number:</label>
  <%= text_field_tag :phone, nil, placeholder: "Type here", class: 'form-control', :required => true %>
  <div id="postcode_message"></div><br>

  <label for="service">What Service Do You Require</label>
    <select name="service" id="services_all" class="custom-select" autofocus="true" required="true">
      <option selected>Choose...</option>
      <% @provider.services.each do |service| %>
        <option value="<%= service.id %>"><%= service.service %></option>
      <% end %>
    </select>
  <br>

  <label for="start_date">Preferred Start Date:</label>
  <%= text_field_tag :start_date, nil, placeholder: "Date", class: 'form-control', :required => true %>
  <div id="postcode_message"> </div>
  <br>

  <label for="postcode_suburb">Postcode or Suburb:</label>
  <%= text_field_tag :postcode_suburb, nil, placeholder: "Postcode", class: 'form-control', :required => true %>
  <div id="postcode_message"></div><br>

  <%= submit_tag "Submit", :class => 'btn btn-lg btn-primary' %>
      <%= link_to "Cancel", show_provider_path(@provider) %>
<% end %>
</div>
</div>