<div class="mx-auto" style="width: 80%; margin: 50px;">
  <%= image_tag("karista.svg", :alt => "logo", :size => '260x180', :class => "mx-auto d-block my-3") %>
<h2 class="text-center font-weight-light">Find the ideal disability support service for you</h2>

  <%= form_tag create_search_path, {class: 'form-signin'} do %>
    <label for="service">Service Required:</label>
    <select name="service" id="services_all" class="custom-select" autofocus="true" required="true">
      <option selected>Choose...</option>
      <% @services_all.each do |service| %>
        <option value="<%= service.id %>"><%= service.service %></option>
      <% end %>
    </select>
    <br>
    <label for="postcode_suburb">Postcode or Suburb:</label>
     <%= text_field_tag :postcode_suburb, nil, placeholder: "Postcode", class: 'form-control', :required => true %>
    <div id="postcode_message">

    </div>
    <br>
    <%= submit_tag "Submit", :class => 'btn btn-lg btn-primary btn-block' %>

  <% end %>

</div>

<script type="text/javascript" charset="utf-8">
  let $postcode = $('#postcode_suburb')
  $postcode.keyup(function () {
      console.log('hi')
      let postcode = $postcode.val()
      if (postcode.length > 4) {
          $('#postcode_message').html('Please type valid postcode').addClass('invalid-feedback');
          $postcode.addClass('is-invalid');
      } else {
          $('#postcode_message').html('');
          $postcode.removeClass('is-invalid')
      }

  })

</script>