<%= render :partial => 'breadcrumbs' %>

<div class="container">

    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= @provider.name %></h5>
        <h6 class="card-subtitle mb-2 text-muted">XXX REVIEW</h6>
        <%= link_to 'Review this Provider', new_review_path(@provider[:id]), class: "btn btn-outline-primary my-2 my-sm-0" %>
        <%= link_to 'Request details & pricing', new_request_path(@provider[:id]), class: "btn btn-primary my-2 my-sm-0" %>
        <hr>
        <h5 class="card-title">About</h5>
        <p class="card-text"><%= @provider.address %></p>
        <p class="card-text"><%= @provider.phone %></p>
        <p class="card-text"><%= @provider.website %></p>

        <h5 class="card-title">Services</h5>

            <% @provider.services.each do |service| %>
            <span class="badge badge-pill badge-success"><%= service.service %></span>
              <% end %>

        <h5 class="card-title">Reviews</h5>

        <% if @provider.reviews.any? %>
          <label>foods <%= @provider.name %> likes:</label>
          <ul>
            <% @provider.reviews.each do |review| %>
              <li><%= review.timely %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
    <br>




</div>